#images{
    opacity: 1;
    display:inline-block;
}

#imgcols{

    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#images:hover{
    scale: 1;
    opacity:0.4; /* how much transparent you want image to be*/
    filter:alpha(opacity=40); /* browser fix*/
    -webkit-opacity:0.4; /*vendor prefixes for website browsers*/
    -moz-opacity:0.4; /* same as above, edited thankx to @ Daniel_Lisik  */
  }