.item {
  font-size: 20px;
  margin: 10px;
}

.cart {
  margin-left: 100px;
  margin-right: 100px;
  text-align: left;
}

.remove-btn, .increase-btn, .decrease-btn {
  float: right;
  /* margin-left: 3px;
  margin-right: 3px; */
}

.remove-btn {
  margin-left: 5px;
  background-color: red;
  border-color: black;
}
