#item-image {
  width: 250px;
  height: 300px;
}

#add-to-chart-btn {
  margin: 50px;
}

#price {
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-width: 600px) {
  #price{
    margin-top: auto;
    margin-bottom: auto;
  }
  #add-to-chart-btn {
    margin: 25px;
  }
}

@import "~react-image-gallery/styles/css/image-gallery.css";

/*
.image-gallery-slide img {
  width: 100vh;
  height: 100vh;
}*/

.image-gallery {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.image-gallery-slide img {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.fullscreen .image-gallery-slide img {
  max-width: 75vh;
  max-height: 100vh;
}
