.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}


 /* unvisited link */
 a:link {
  color: #09d3ac;
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* visited link */
a:visited {
  color: #09d3ac;
}

/* mouse over link */
a:hover {
  color: #116d5a;
}

/* selected link */
a:active {
  color: #116d5a;
} 

#App .row {
  margin-right: 0;
  margin-left: 0;
}