.App {
  text-align: center;
  background-color: #f9f7f7;
  min-height: 100vh;
  color: black;
}


 /* unvisited link */
 a:link {
  color: black;
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #d88b8b;
}

/* selected link */
a:active {
  color: #d88b8b;
} 

